In [7]:
import pandas as pd
df = pd.read_csv('Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [8]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,102001,0,United States,country,NaN,121428.348338,121641.979730,121906.914111,122475.146355,123129.113541,...,341524.686817,340331.965361,339460.290723,339398.680892,340364.871948,341993.734727,343935.026591,345686.216142,347311.245095,348538.961877
1,394913,1,"New York, NY",msa,NY,216218.985144,217137.793836,218065.112352,219944.218493,221890.097976,...,607957.914467,607138.375566,605781.039331,606096.535158,608105.120897,612136.785991,616308.017005,619911.494379,623211.984905,625939.720932
2,753899,2,"Los Angeles, CA",msa,CA,222303.044856,223130.294238,224232.182526,226424.570068,228822.354722,...,883096.482193,874754.169505,863791.280350,853971.725026,851581.705998,855385.245879,863224.274090,874493.271073,888127.785264,901894.488002
3,394463,3,"Chicago, IL",msa,IL,152289.701354,152430.677254,152699.168339,153367.107433,154170.557823,...,292513.670485,291906.868582,291753.784548,292397.065395,294085.140305,296271.600804,298827.032389,301362.893227,303811.358338,305636.274755
4,394514,4,"Dallas, TX",msa,TX,125341.331449,125397.158916,125461.338304,125628.005434,125847.751482,...,373653.261774,371121.004193,368863.612270,367332.301710,366782.695296,367067.613765,367882.973641,368856.669150,369775.450746,370189.087719

In [9]:
df= df.fillna(df.mean())

/var/folders/6s/kxz9jf_11yx21882_h5nl_q40000gn/T/ipykernel_20177/297561253.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df= df.fillna(df.mean())

In [10]:
X = df.drop(['RegionID'], axis=1)
y = df['RegionID']

In [11]:
categorical_cols = ['RegionName', 'RegionType', 'StateName']
X = pd.get_dummies(X, columns=categorical_cols)

In [13]:
X

,SizeRank,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,...,StateName_SD,StateName_TN,StateName_TX,StateName_UT,StateName_VA,StateName_VT,StateName_WA,StateName_WI,StateName_WV,StateName_WY
0,0,121428.348338,121641.979730,121906.914111,122475.146355,123129.113541,123830.254505,124572.900118,125374.513784,126208.334311,...,0,0,0,0,0,0,0,0,0,0
1,1,216218.985144,217137.793836,218065.112352,219944.218493,221890.097976,224047.392222,226404.290001,228914.514928,231483.452792,...,0,0,0,0,0,0,0,0,0,0
2,2,222303.044856,223130.294238,224232.182526,226424.570068,228822.354722,231203.347369,233644.104456,236108.114657,238429.191698,...,0,0,0,0,0,0,0,0,0,0
3,3,152289.701354,152430.677254,152699.168339,153367.107433,154170.557823,155072.246539,156031.973015,157386.181555,158976.341750,...,0,0,0,0,0,0,0,0,0,0
4,4,125341.331449,125397.158916,125461.338304,125628.005434,125847.751482,126070.179855,126303.392961,126652.744268,127090.554044,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,935,108341.380568,108520.353951,108672.010362,109348.402023,110086.788053,110659.077582,111421.329000,112039.328233,112716.906796,...,0,0,1,0,0,0,0,0,0,0
891,936,108341.380568,108520.353951,108672.010362,109348.402023,110086.788053,110659.077582,111421.329000,112039.328233,112716.906796,...,0,0,0,0,0,0,0,0,0,0
892,937,98973.406536,99226.488457,99697.660699,100368.653492,101148.393050,101883.417385,103075.005885,104072.468627,104604.128899,...,0,0,0,0,0,0,0,0,0,0
893,938,108341.380568,108520.353951,108672.010362,109348.402023,110086.788053,110659.077582,111421.329000,112039.328233,112716.906796,...,0,0,1,0,0,0,0,0,0,0
894,939,108341.380568,108520.353951,108672.010362,109348.402023,110086.788053,110659.077582,111421.329000,112039.328233,112716.906796,...,0,0,1,0,0,0,0,0,0,0

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [16]:
from sklearn.metrics import mean_squared_error, r2_score
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 121454835138.0874
R-squared: -28.06900383856532